body{
    background: linear-gradient(135deg, #00B0F0, #00B0F0);
    height: 100vh;
    width: 100%;
    text-align: center;
}
form{
    display: inline-block;
    align-items: center;
    height: 270px;
    width: 350px;
    margin-bottom: 170px;
    
}
.image-container {
    .left-aligned-image {
  
      background-image: url("../Images/logo1.png");
      position: absolute; /* Position relative to the container */
      /* Align to 50% from the top */
      left: 48.5%; /* Align to 50% from the left */
      transform: translate(-30%, -30%); /* Center the div */
      top: 0;
      width: 10%;
      height: 20%;
      display: block;
      background-size: auto; 
      background-repeat: no-repeat; /* Prevent repeating the background image */
      z-index: -4; 
      margin:40px 0 auto ;
      align-content: center;
    
    
      
     
      /* Additional styles for the image */
    }
  }
.text_area{
    align-content: center;
    border-radius: 6px;
    margin-bottom: 2px;
    margin-top: 15px;
    width: 100%;
    height: 55px;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    
}
.text_input{
    margin-top: 1.2rem;
    font-family:'Roboto', 'sans-serif';
    font-size: 17px;
    border: none;
    width: 80%;
    outline: none;
    
}
.btn{
    margin-top: 25px;
  
    width: 165px;
    height: 50px;
    border-radius: 30px;

    background: #00B0F0;
    border: none;
    font-family:'Roboto', 'sans-serif';
    font-size: 20px;
    color: #FFFFFF;
   
    
    cursor: pointer;
}
.login{
    display: inline-block;
    background: #FFFFFF;
    width: 375px;
    height: 360px;
    margin-top: 14%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
    
}
.link{
    color: #0E4579;
    font-family:'Roboto', 'sans-serif';
    font-size: 16px;
    padding-top: 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;}